name: Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    uses: carr-james/eurorack-workflows/.github/workflows/kicad-release.yml@main
    with:
      project-name: 'CEM3340-VCO'
      boards: |
        [
          {
            "name": "control-board",
            "kibot_config": ".kibot/jlcpcb.kibot.yaml",
            "pcb_path": "hardware/control-board/control-board.kicad_pcb",
            "sch_path": "hardware/control-board/control-board.kicad_sch"
          },
          {
            "name": "main-board",
            "kibot_config": ".kibot/jlcpcb.kibot.yaml",
            "pcb_path": "hardware/main-board/main-board.kicad_pcb",
            "sch_path": "hardware/main-board/main-board.kicad_sch"
          }
        ]
      skip-checks: 'erc,drc'
