name: Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: write
  actions: write

jobs:
  release:
    uses: carr-james/eurorack-workflows/.github/workflows/kicad-build.yml@main
    with:
      project-name: 'CEM 3340 VCO'
      build-type: 'release'
      boards: |
        [
            {
             "name": "control-board",
             "kibot_config": ".kibot/jlcpcb-2layer.kibot.yaml",
             "pcb_path": "hardware/control-board/control-board.kicad_pcb",
             "sch_path": "hardware/control-board/control-board.kicad_sch"
           },
           {
             "name": "main-board",
             "kibot_config": ".kibot/jlcpcb-2layer.kibot.yaml",
             "pcb_path": "hardware/main-board/main-board.kicad_pcb",
             "sch_path": "hardware/main-board/main-board.kicad_sch"
           }
         ]
      skip-checks: 'erc,drc'
      include-assembly-files: true
